[data-md-color-scheme="slate"] {
  --md-default-bg-color: #000000;
  --md-default-fg-color: #f5f5f5;
  --md-default-fg-color--light: #cccccc;
  --md-typeset-color: #f5f5f5;
  --md-typeset-a-color: #ffffff;
  --md-code-bg-color: #111111;
}

:root {
  --md-text-font: "Inter", sans-serif;
  --md-code-font: "Fira Code", monospace;

  /* Flatten UI / Minimalist */
  --md-shadow-z1: none;
  --md-shadow-z2: none;
  --md-shadow-z3: none;

  --md-typeset-table-color: rgba(255, 255, 255, 0.12);
}

body {
  letter-spacing: -0.01em;
  background-color: #000000 !important;
}

/* Crisp squared off layout mapping */
.md-button,
.md-typeset .admonition,
.md-typeset details,
.md-typeset pre>code {
  border-radius: 0px !important;
  border: 1px solid #333333;
}

.md-header {
  box-shadow: none !important;
  border-bottom: 1px solid #333333;
  background-color: #000000 !important;
}

.md-tabs {
  background-color: #000000 !important;
  border-bottom: 1px solid #333333;
}

.md-nav__item .md-nav__link--active {
  font-weight: 600;
  color: #ffffff !important;
}

.mermaid {
  background: transparent !important;
}